html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 90vw;
    height:50vh;
    margin: 4px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
}

.top-space {
    width: 30%;
    height: 20%;
    margin: 0 auto;   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid wheat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.towers {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    border: 1px solid rgb(221, 221, 221)
}

.tower {
    width: 30%;
    height: 100%;
    border-bottom: 4px solid black;
    position: relative;
    margin: 4px;
}

.tower::before {
    content: "";
    height: 60%;
    width: 100px;
    border-left: 4px solid black;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.disk {
    height: 36px;
    position: absolute;
    right: 50%;
    transform: translate(50%);
    border-radius: 5px;
}

.disk4 {
    width: 80%;
    background-color: aqua;
    bottom: 0;
}

.disk3 {
    background-color: rgb(255, 130, 47);
    width: 60%;
    bottom: 36px;
}

.disk2 {
    background-color: red;
    width: 40%;
    bottom: 72px;
}

.disk1 {
    background-color: yellow;
    width: 20%;
    bottom: 108px;
}